body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(94, 3, 45, 0.788);
    text-align: center;
}

.container{
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #21ec43;
    background: red;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(rgb(14, 101, 128), rgb(1, 49, 71), rgb(1, 40, 49), alpha);

    
}